<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
  <header id="header">
    Python toy app
  </header>
  <div id="wrap">
    <div id="sidebar">
        <ul>
            {% block sidebar %}
            <li><a href="/">Home</a></li>
            <li><a href="/polls/">Polls</a></li>
            <li><a href="/admin/">Admin</a></li>
            {% endblock %}
        </ul>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
  </div>
  <footer id="footer">
    footer is here.
  </footer>
</body>
</html>
